# Default: ignore everything to keep build context small,
# but explicitly allow files needed when building from source.
*

!/.mvn
!/.mvn/**
!/mvnw
!/mvnw.cmd
!/pom.xml
!/lombok.config
!/src
!/src/**

!/checkstyle
!/checkstyle/**

!/pmd
!/pmd/**
!/spotbugs
!/spotbugs/**
!/ops
!/ops/**

!target/*-runner
!target/*-runner.jar
!target/lib/*
!target/quarkus-app/*
